@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  background-color: lightpink;
  overflow: scroll;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
  justify-content: center;
}


.nabidka-container {
  background: white;
  display: flex;
  width: 60%;
  flex-direction: column;
  text-align: center;
  margin-left: 400px;
}

.home {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  display: flex;
}

.home1 {
  /*flex-shrink: 1;*/
  width: 30%;
  height: auto;
}

.home2 {
  /*flex-shrink: 1;*/
  width: 30%;
  height: auto;
}

.home3 {
  /*flex-shrink: 1;*/
  width: 30%;
  height: auto;
}